body {
  font-family: 'Comic Sans', Arial, Helvetica, sans-serif;
  color: rebeccapurple;
  background-color: thistle;
}

h1 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}
