---
import Navigation from '../components/Navigation.astro'
import BaseHead from '../components/BaseHead.astro'
import MainHero from '../components/MainHero.astro'
import MainContent from '../components/MainContent.astro'
---

<html lang="en">
	<head>
		<BaseHead />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<MainHero />
		<MainContent />
	</body>
</html>
