---
import DefaultLayout from '../layouts/default.astro'
import Content from '../layouts/body-content.astro'
import MainHero from '../components/MainHero.astro'
import MainContent from '../components/MainContent.astro'
---
<DefaultLayout>
  <Content>
    <h1>Payment Structures</h1>
      <p>I offer a variety of services in order to support the way you want to approach your technology strategy. For projects with clear cut requirements with familiar systems I will do my best to offer flat rates. In the case where hourly work is required, my default hourly rate is $200. If you have any questions or concerns, do not hesistate to call: <a href="tel:2628222996">262-822-2996</a>.</p>

    <h1>Services</h1>

    <h3>Custom Applications</h3>
    <p>Whether you are customizing an existing system, building something brand new for your business, or supporting legacy systems that need a little love, my custom application services can transform the way you operate.</p>
    <p>
      <ul>
        <li>Integrations with external systems</li>
        <li>Custom user interfaces in your every day tools</li>
        <li>Data migrations if you are transitioning systems or refactoring the ones you use today</li>
        <li>Specialized databases built for scale and speed</li>
        <li>Legacy development, maintenance, and refactoring</li>
      </ul>
    </p>

    <h3>Exploratory Development</h3>
    <p>If there is something that's been causing you problems in your daily business workflow, there is probably a solution. Not knowing what questions to ask or where to start should not keep you from solving the technical problems preventing you from giving your customers the best experiences possible.</p>
    <p>With exploratory development I will work with you to understand the possibilties you have at your disposal, and prove out several possible solutions (with working software!) to get you started. I will evaluate options to avoid custom development all together whenever possible, as well as document custom solution designs so that I or any other application programmers can hit the ground running when you decide to build.</p>

    <h3>Managed Services</h3>
    <p>When technology isn't your business, managing a solution long term can be a hassle. Any solution I offer or existing solutions you own that don't receive ongoing care can be supported as a monthly or annual subscription. Under a managed services agreement you will retain an amount of time per month used for troubleshooting and maintaining your systems.</p>
    <p class="center"><a href="tel:2628222996">Please Call Me - I Don't Bite!</a></p>
  </Content>
</DefaultLayout>

<style>
  a {
    color: #0a9ef0;
  }
  p, li {
    font-size: 1.2rem;
  }
  .center {
    font-size: 1.5rem;
  }
</style>
