<section class="main">
  <div>
    <h1 id="about">Streamline Simplicity</h1>
    <p>I understand technology is a necessary but often cumbersome part of doing business. Maximize focus on your business by implementing simple and comprehensible solutions designed specifically for you.</p>
    <p>Experienced building functional applications, cost effective cloud architectures, and robust integrations with the tools you already use. Make technology an advantage for your teams and your business.</p>
  <div>
  <div class="contact">
    <h1 id="contact">Contact Me</h1>
    <p>For more information about what Mountain Sound IT can do for you, reach out directly to <a href="mailto:connor@mountainsoundit.com?Subject=Service%20Inquiry">Connor Jerow</a>, owner and consultant.</p>
  <div>
</section>

<style>
  .main a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .main h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* Media Queries for Larger and Smaller Screens */

  /* Large screens (Desktops and larger tablets) */
  @media screen and (min-width: 1200px) {
    p {
      font-size: 1.2rem;
    }
    .main {
      padding: 30px;
    }
    .main .contact {
      margin-top: 30px;
    }
  }

  /* Medium screens (Tablets and smaller desktops) */
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    p {
      font-size: 1.1rem;
    }
    .main {
      padding: 30px;
    }
    .main .contact {
      margin-top: 30px;
    }
  }

  /* Small screens (Mobile phones) */
  @media screen and (max-width: 767px) {
    p {
      font-size: 1rem;
    }
    .main {
      padding: 15px;
    }
    .main .contact {
      margin-top: 15px;
    }
    .main h1 {
      font-size: 1.2rem;
    }
    .main p {
      margin: 7px 0px;
    }
  }

  /* Extra small screens (Very small phones) */
  @media screen and (max-width: 480px) {
    p {
      font-size: 0.9rem;
    }
    .main {
      padding: 15px;
    }
    .main .contact {
      margin-top: 15px;
    }
    .main h1 {
      font-size: 1.2rem;
    }
    .main p {
      margin: 7px 0px;
    }
  }
  </style>
