
/* Body */

body {
  margin: 0;
  font-family: "Syne", sans-serif;
  font-optical-sizing: none;
  font-style: normal;
  font-weight: 400;
  color: white;
  background-color: black;
}

body p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}




/* Links */

a:visited{
 color:inherit;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  margin-left: 3%;
}

.contact a {
  text-decoration: underline;
}





/* Hero section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;                     /* Full viewport height */
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('hero.svg'); /* Replace with your SVG file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 0 20px;                   /* Optional padding to prevent text from touching edges */
  position: relative;                /* Make the hero section positionable */
  overflow: hidden;                  /* Prevent overflow if the content exceeds the height */
}

/* Content section inside the hero */
.hero-content {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 0;
  line-height: 1;                    /* No space between lines of text */
}

/* Each line of text */
.hero-line-1 {
  margin: 0;
  font-weight: bold;
  color: white;                      /* Text color for visibility */
}
/* Each line of text */
.hero-line-2 {
  margin: 0;
  font-weight: normal;
  color: white;                      /* Text color for visibility */
}






/* Main Content Section */

/* Content below the hero section */
.main {
  padding: 20px;
}



/* Media Queries for Larger and Smaller Screens */

/* Large screens (Desktops and larger tablets) */
@media screen and (min-width: 1200px) {
  .home-link {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .hero-line-1 {
    font-size: 6rem;
  }
  .hero-line-2 {
    font-size: 2rem;
  }
}

/* Medium screens (Tablets and smaller desktops) */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .home-link {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  .hero-line-1 {
    font-size: 4rem;
  }
  .hero-line-2 {
    font-size: 1.75rem;
  }
}

/* Small screens (Mobile phones) */
@media screen and (max-width: 767px) {
  .home-link {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .hero-line-1 {
    font-size: 3rem;
  }
  .hero-line-2 {
    font-size: 1rem;
  }
}

/* Extra small screens (Very small phones) */
@media screen and (max-width: 480px) {
  .home-link {
    font-size: .75rem;
  }
  p {
    font-size: 0.9rem;
  }
  .hero-line-1 {
    font-size: 2rem;
  }
  .hero-line-2 {
    font-size: .75rem;
  }
}
