---
layout: layout.njk
title: Mountain Sound IT
---

<section>
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-line-1">Streamline Simplicity</h1>
      <h2 class="hero-line-2">Empowering Small Businesses with Effective IT Solutions</h2>
    <div>
  </div>
</section>

<section class="main">
  <div>
    <h1 id="about">Mountain Sound IT</h1>
    <p>I understand technology is a necessary but often cumbersome part of doing business. Maximize focus on your business by implementing simple and comprehensible solutions designed specifically for you.</p>
    <p>Experienced building functional applications, cost effective cloud architectures, and robust integrations with the tools you already use. Make technology an advantage for your teams and your business.</p>
  <div>
  <div class="contact">
    <h1 id="contact">Contact Me</h1>
    <p>For more information about what Mountain Sound IT can do for you, reach out directly to <a href="mailto:connor@mountainsoundit.com?Subject=Service%20Inquiry">Connor Jerow</a>, owner and consultant.</p>
  <div>
</section>
