---
import Navigation from '../components/Navigation.astro'
import BaseHead from '../components/BaseHead.astro'
const { background } = Astro.props
---

<html lang="en" background-color="black">
	<head>
		<BaseHead />
	</head>
	<body>
    <Navigation />
		<div class="slot">
			<slot />
		</div>
	</body>
</html>

<style define:vars={{ background }}>
	body {
		background-color: var(--background)
	}
	.slot {
		padding-top: 80px;
	}
  @media screen and (max-width: 767px) {
		.slot {
			padding-top: 50px;
		}
	}
</style>
